*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(image/backgroundimage.png);
    background-position: center;
    background-size: cover;
    color: white; 
}

.div1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 60px;
}
.nav{
    margin-top: 5px;

}
.logo {
    width: 150px;
}

.nav a{
    text-decoration:none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
}
nav a:hover{
    color: rgb(255, 51, 102);
}
.div2{
    text-align: center;
    /* position: relative; 
    z-index: 10 */
}
.div2 h1{
    margin-top: 130px;
    font-size: 75px;
    font-family: "Brush Script MT", cursive;;
    
}
.div2 p{
    font-size: 18px;
}
.btn{
    background-color: #ff3366;
    padding: 12px 35px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;  
}

.btn:hover{
    background-color: #e6004c;
}

.heading{
    text-align: center;
    margin: 30px 0;
    font-size: 28px;
}
.photos{
    width: 90%;
    margin: auto;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    gap:20px;
}
.card{
    background: white;
    flex: 1 1 calc(33.33% - 20px);
    height: 280px;
    border-radius: 10px;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.section{
    width: 100%;
    margin: auto;
    padding: 40px;
    background-color: rgb(224, 220, 220);
    margin-top: 50px;
}
.section h2{
    margin-top:10px;
    text-align: center;
    color: rgb(5, 5, 88);
    padding: 10px;
}
.section p{
    margin-top: 10px;
     text-align: center;
    color: rgb(5, 5, 88);
    padding: 10px;
}
.div-card{
    display: flex;
    align-content:space-evenly;
    gap:40px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.card1 img{
    transition: 0.4s ease;
    border-radius: 20px;
}
.card1 img:hover{
    transform: scale(1.2);
}
.card1 h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
}
.section-2 h2{
    text-align: center;
    font-size: 32px;
    color:rgb(17, 17, 129) ;
    margin-top: 30px;
    margin-bottom: 20px;
}
.forex{
    display: flex;
    justify-content: space-between;
}
.card2{
    margin-left: 20px;
}
.card2 img{
    width: 90%;
}
.section-3{
    background-image: url(image/Flights-festive-banner.jpg);  
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    text-align: center;
    width: 100%;
    height: 70vh;
    color: white
}
.section-3 h2{
    font-size: 40px;
    margin-bottom: 25px;
    margin-top: 20px;
}
.search{
    width: 90%;
    height: 20vh;
    max-width: 1100px;
    margin: auto;
    background:white;
    padding: 20px;
    border-radius: 10px;
    color: black;
}
.radio{
    display: flex;
    justify-content: center;
    gap:25px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}
.input{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.input input{
    padding: 12px;
    border: 1px solid rgba(204, 204, 204, 0.364);
    border-radius: 6px;
    font-size: 15px;
}
.input select{
    padding: 12px;
    border: 1px solid rgba(204, 204, 204, 0.364);
    border-radius: 6px;
    font-size: 15px;
}
.btn1{
    background: rgb(0, 134, 212);;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    margin-left: 20px;
    padding: 15px;
}
.btn1:hover{
    background: rgb(0, 134, 212);;
}

.section-4{
    background-image: url(image/photo-1583157048761-ac1dba033233.jpeg);  
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    text-align: center;
    width: 100%;
    height: 85vh;
    color: white;
    margin-top: 20px;
}
.section-4 h2{
    font-size: 56px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.Cruise{
    width: 70%;
    height: 20vh;
    margin: auto;
    background:rgb(133, 166, 182);
    padding: 20px;
    border-radius: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}
.Cruise select{
    width: 200px;
    max-width: 1000px;
    padding: 15px;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid rgba(204, 204, 204, 0.364);
    outline: none;
    background: white;
}
.btn2{
    padding: 15px 40px;
    background: #0086d4;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    transition: 0.3s ease;
}
.btn2:hover{
    background: #006bb3;
}
.section-5{
    background-image: url(hotel-background-2qosz2h6xb1xpnka.jpg);  
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    text-align: center;
    width: 100%;
    height: 80vh;
    color: rgb(92, 57, 5);
    margin-top: 20px;
}
.section-5 h2{
    font-size: 52px;
    margin-top: 20px;
    font-style: italic;
    padding-right: 40px;
}
.input1 input{
    margin-top: 20px;
    padding: 12px;
    border: 1px solid rgba(230, 226, 226, 0.018);
    border-radius: 6px;
    font-size: 15px;
   
}
.footer {
    background: rgb(13, 27, 42);
    color: white;
    padding: 50px 0 20px;
    margin-top: 20px;
}

.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.footer-box h3 {
    margin-bottom: 15px;
    font-size: 22px;
    color: rgb(255, 51, 102);
}
.footer-box a {
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 8px;
    font-size: 16px;
    transition: 0.3s ease;
}

.footer-box a:hover {
    color: rgb(255, 51, 102);
}

.email {
    margin-top: 10px;
}

.email input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 65%;
}

.email button {
    padding: 10px 15px;
    background: rgb(255, 51, 102);
    border: none;
    color: white;
    border-radius: 5px;

    transition: 0.3s;
}

.email button:hover {
    background: #e6004c;
}

.footer p {
    font-size: 16px;
    color:white;
}

.copyright {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 30px;
}


    

    